<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판</title>
    <link rel="stylesheet" href="../board.css" />
  </head>
  <body>
    <img id="backimg" src="../imgs/back.png" alt="" />
    <form action="http://localhost:3000/write" method="post">
      <div id="width-size">
        <div id="header">
          <div id="home-favorites">
            <button>Home</button>
            <button>즐겨찾기</button>
          </div>
          <div id="search">
            <div id="search-type">글 제목</div>
            <div id="search-box">검색어를 입력하세요</div>
            <button>Q</button>
          </div>
        </div>
        <div id="main">
          <div id="left-menu">
            <ol>
              <li>공지사항</li>
              <li>자유게시판</li>
              <li>게시판1</li>
              <li>게시판2</li>
              <li>게시판3</li>
            </ol>
          </div>
          <div id="post">
            <div id="new-post" class="">
              <div id="new-post-contents">
                <div id="new-post-head">
                  <div id="new-post-board">게시판을 선택해주세요</div>
                  <input
                    id="new-post-header"
                    type="text"
                    name="title"
                    placeholder="title"
                  />
                  <input
                    id="new-post-user"
                    type="text"
                    name="id"
                    placeholder="id"
                  />
                </div>
                <div id="new-post-main">
                  <div id="new-post-file-type">
                    <div id="new-post-file">
                      <div>이미지첨부</div>
                      <div>파일첨부</div>
                      <div>영상첨부</div>
                      <div>링크첨부</div>
                    </div>
                    <div id="new-post-text-type">
                      <div>글자 모양</div>
                      <div>글자 크기</div>
                      <div>글자 색상</div>
                      <div>글자 배경</div>
                      <div>글자 기울기</div>
                      <div>글자 굵게</div>
                      <div>글자 밑줄</div>
                    </div>
                  </div>
                  <div id="new-post-text-div">
                    <input
                      id="new-post-text"
                      type="text"
                      name="text"
                      placeholder="Text"
                    />
                  </div>
                </div>
              </div>
              <div id="new-post-create">
                <a href="/"
                  ><button id="new-post-create-button">글 작성</button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
