* {
  box-sizing: border-box;
}

#width-size {
  /* width: 1500px; */
  width: 80%;
  /* overflow: auto; */
}
/* 상단바 시작 */
#header {
  display: flex;
  /* width: 1000px; */
  /* position: relative; */
  justify-content: space-between;
  height: 40px;
  /* flex: 1; */
  /* padding-bottom: 5px; */
  /* margin-bottom: 1px; */
}

#home-favorites {
  height: 25px;
  display: flex;
}

#search {
  width: 250px;
  /* margin-left: auto; */
  display: flex;
  /* flex: 1; */
  justify-content: center;
  height: 25px;
  align-items: center;
}

#search-type {
  background-color: whitesmoke;
  /* flex: 1; */
  width: 80px;
  border: 1px solid black;
}

#search-box {
  color: snow;
  /* width: 150px; */
  flex: 1;
  background-color: gray;
  /* text-align: end; */
  overflow: hidden;
  border: 1px solid black;
  border-left: 0px;
}

#search button {
  width: 30px;
}
/* 상단바 끝 */

#main {
  display: flex;
  /* width: 1000px; */
}

/* 좌측칸 시작 */
#left-menu {
  width: 20%;
  max-width: 200px;
  height: auto;
  /* border: 1px solid brown; */
  background-color: rgb(166, 249, 249);
  margin-right: 5px;
  /* padding-right: 5px; */
  /* display: block; */
  padding: 10px 10px 10px 20px;
}

#left-menu ol {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
}

#left-menu li {
  padding-top: 10px;
  display: block;
}
/* 좌측칸 끝 */

/* 우측페이지 시작 */
#post {
  /* width: 800px; */
  flex: 1;
  padding: 20px;
  height: auto;
  border-top: 1px solid black;
}

#post-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#post-list-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 7px;
  border-bottom: 1px solid black;
  background-color: rgba(209, 205, 205, 0.5);
}

.post-type-number {
  width: 60px;
  /* border-right: 1px solid black; */
  text-align: center;
  border-right: 1px dotted black;
}

.post-type-head {
  /* width: 40px; */
  flex: 1;
  /* border-right: 1px solid black; */
  text-align: center;
}

.post-type-utvg {
  display: flex;
  /* justify-content: space-between; */
  /* width: 300px; */
  /* border: 1px solid black; */
}

.post-type-utvg div {
  /* display: flex; */
  /* justify-content: space-between; */
  /* width: 250px; */
  border-left: 1px dotted black;
  text-align: center;
  /* flex: 1; */
}

.post-type-user {
  width: 120px;
}

.post-type-time {
  width: 70px;
}

.post-type-view {
  width: 60px;
}

.post-type-good {
  width: 60px;
}

#post-list ol {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#post-notice {
  background-color: rgba(169, 165, 165, 0.5);
}

#post-common {
  background-color: rgba(244, 242, 242, 0.5);
}

/* #post-list ul div {
  display: flex;
}
#post-list ol div {
  border-bottom: 1px solid blue;
  display: flex;
} */

.post-list-li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(163, 163, 212);
  /* padding-top: 10px; */
  /* display: block; */
}

#post-list {
  margin-bottom: 16px;
}

#post-list li {
  /* border-bottom: 1px solid blue; */
  /* width: 250px; */
  flex: 1;
  padding-top: 10px;
  padding-bottom: 7px;
  /* margin-bottom: 10px; */
  /* padding-left: 40px; */
  /* display: block; */
}

.flex-center {
  display: flex;
  justify-content: center;
}

#post-page {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

#new-post-button {
  height: 30px;
  display: flex;
  justify-content: end;
  /* margin: 10px 0 10px 0; */
  /* align-self: end; */
}

#new-post-write {
  width: 70px;
}

#new-post {
  margin-left: 50px;
}

#new-post-head {
  display: flex;
  /* justify-content: left; */
  margin-top: 20px;
  width: 700px;
  border: 1px solid black;
}

#new-post-headline {
  margin-left: 5px;
  overflow: scroll;
  /* margin-right: 50px; */
  /* border: 1px solid black; */
}

#new-post-board {
  border-right: 1px solid black;
  padding-right: 30px;
  /* text-align: center; */
}

#new-post-body {
  width: 700px;
}

#new-post-text {
  margin-top: 10px;
  height: 500px;
  border: 1px solid black;
  overflow: scroll;
}

#now-post-head {
  border: 1px solid black;
  margin: 10px;
}
#now-post-body {
  border: 1px solid black;
  margin: 10px;
  min-height: 100px;
}

.none {
  display: none;
}
